<ion-header [translucent]="true">
  <ion-toolbar>

    <!--Imagen-->
    <div slot="end">
      <img width="150px" src="assets/icon/logo-duoc.png" alt="Logo DUOC" class="image-animation">
    </div>
    <ion-buttons slot="start">
      <ion-back-button text="volver" class="title-animation"></ion-back-button>
    </ion-buttons>
    

  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../../assets/img/DuocBackground.png" class="img-fluid">
  
  <div class="centrado-vertical" >
    <ion-card class="card-color item-color">
      <br>
      <ion-title class="text-title">
        <h2>Paso 2:</h2>
        <h2>Responde la pregunta</h2>
        <ion-text class="ion-text-center"><h2>Usuario: {{ nombre }} {{apellido}}</h2></ion-text>
        <ion-text class="ion-text-center"><h2>{{preguntaSecreta}}</h2></ion-text> 
      </ion-title>
      <ion-item  class="item-color">
        <ion-input label="Ingrese Respuesta: " labelplacement="floating"
        [(ngModel)]="respuestaSecreta"></ion-input>
      </ion-item>
    
      <ion-row>
        <ion-col size="12">
          <br>
          <ion-button shape="block" (click)="recuperarContrasena()">Recuperar Contraseña</ion-button>        </ion-col>
      </ion-row> 
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer-style">
    <div slot="start">
      <div class="footer-animation">
        Sistema de asistencia DuocUc
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
