.image-animation {
  animation: slideInRight 1s ease-in-out;
}

.img-fluid{
  position: fixed;
  right: 0;
  top: 0;
  z-index: -100;
  width:100%;
  height: 100%;
  opacity: 60%;
}

.card-color{
  --ion-card-background: rgba(3, 3, 3, 0.724);
}

.item-color{
  --ion-item-background: rgba(0, 0, 0, 0);
}

.ion_content_center{
  top: 25%;
}

.text-title{
  text-align: center;
  font-size: 24px;
  color: white;
}

.text-subtitle{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
}


@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/**Color del footer*/
.footer-style{
color: #ffffff;
font-size: small;

}

/*Animacion del footer*/
.footer-animation {
white-space: nowrap;
overflow: hidden; 
animation: footer-animation 10s linear infinite;
width: 100%;
}

@keyframes footer-animation {
0% {
  transform: translateX(250%);
}
100% {
  transform: translateX(-100%);
}
}